body{
font-family: 'Roboto', sans-serif;
background-color: #ffffff;
color: #434455;
}
p,h1,h2,h3,ul{
margin: 0;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
ul,ol{
padding-left: 0;
margin: 0;
padding: 0;
}
.hide{
display: none;
visibility: hidden;
}
.container{
min-width: 320px;
padding: 0 16px;
margin: 0 auto;
/* width: 1158px;
margin: 0 auto;
padding: 0 15px; */
}
@media screen and (min-width:768px){
.container{
max-width: 768px;
}}

 @media screen and (min-width:1440px){
.container{
max-width: 1440px;
}} 
img{
display: block;
max-width: 100%;
height: auto;
}

.icon {
    fill: var(--main-text-color);
}
/* header */
.header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 1px 6px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 2px 1px 0px #2E2F4214;
}
.header .container{
display: flex;
align-items: center;
}

.nav{
display: flex;
align-items: center;
}
.logo{
font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding: 16px;
display: block;
}
.header .logo{
padding: 16px 0;
display: block;
}

.logo-text{
color: #2e2f42;
}
.burger-btn{
margin-left: auto;
padding: 0;
border: none;
background-color: transparent;
}
.burger-icon{
display: block;
fill: #2f2F37;
}

.nav-list{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}
.menu{
/* display: flex; */
display: none;

/* gap: 40px; */
}
.address{
display: none;
}
.address{
font-style: normal;
margin-left:auto
}
a{text-decoration: none;}
ul{
list-style-type: none;
}

.backdrop{
position: fixed;
top: 0;
left: 0;
z-index: 3;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
display: none;
justify-content: center;
align-items: center;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
display: flex;
}

.modal{
position: absolute;
top: 50%;
left: 50%;
width: 408px;
min-height: 584px;
background:#fcfcfc;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
transform: translate(-50%, -50%);
}

.close-button{
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover{
background-color: #404bbf;
border: none;
}
.close-button:focus{
background-color: #404bbf;
border: none;
}
.close-svg{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-svg{
fill: #ffffff;
}
.close-button:focus .close-svg{
fill: #ffffff;
}
.modal-p{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--modal-p-color);
margin-bottom: 16px;
}
.modal-form-field{
margin-bottom: 8px;
}
.label-name{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--modal-label-color);
display: block;
margin-bottom: 4px;
}
.modal-input-sec{
position: relative;
}
.modal-input{
height: 40px;
width: 100%;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
border-color: #4D5AE5;
}
.modal-input-svg{
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-svg{
fill: #4D5AE5;
}
.modal-form-textarea{
margin-bottom: 16px;
}
.modal-textarea{
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
border-color: #4D5AE5;
}
.modal-checkbox{
margin-bottom: 24px;
}

.modal-check-label {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--modal-label-color);
}

.check-box {
margin-right: 8px;
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-span:checked + .modal-check-label > .check-box {
background-color: #404bbf;;
border: none;
fill: #F4F4FD;
}

.modal-link {
color: var(--modal-link-color);
text-decoration: underline;
}
.modal-submit {
display: block;
min-width: 169px;
height: 56px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4d5ae5;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
border-radius: 4px;
}

@media only screen and (min-width: 768px) {

    .burger-btn{
        display: none;
    }
    .menu{
    display: flex;
    align-items: center;
    gap: 40px;
    }
    .address{
    font-style: normal;
    display: block;
    }
    .nav{
    display: flex;
    }
    .header .logo{
    padding: 24px;
    margin-right: 120px;
    }
    .nav-list{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    }
    .nav-list-studio::after{
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background: #404BBF;
    position: absolute;
    }
    .nav-list-studio{
    position: relative;
    color: #404bbf;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-list:hover, .nav-list:focus{
    color: #404bbf;
    }
    .address-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    }
    .address-list-p{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-list-p:hover, .address-list-p:focus{
    color: #404bbf;
    }   
}
@media only screen and (min-width: 1440px) {
.header .logo{
margin-right: 76px;
}
.address-list{
gap: 40px;
flex-direction: row;
}
.address-list-p{
font-size: 16px;
line-height: 1.05;
letter-spacing: 0.02em;
padding: 24px 0;
}
}
@media only screen and (min-width: 768px) {
.mobile-menu{
display: none;
}
}
.mobile-menu{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: white;
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto;
}
.mobile-menu-container{
position: relative;
padding-top:72px;
border-bottom: 40px;
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
}
.mobile-menu-close {
position: absolute;
top: 24px;
right: 24px;
border-radius: 50%;
border: 1px solid rgba(109, 109, 109,0.5);
background-color: transparent;
}
:root{
--main-text-color:#F4F4FD;
--main-background-color: #4d5ae5;
--footer-media-color: #FFFFFF;
--modal-p-color:#2E2F42 ;
--modal-label-color: #8e8f99;
--modal-accent:#404bbf;
--modal-link-color: #4d5ae5;
--modal-icon-color:#F4F4FD;
}
.mobile-menu-close-icon {
width: 24px;
stroke: currentColor;
fill: currentColor;
height: 24px;
}
.mobile-menu-nav{
display: block;
margin-bottom: auto;
width: 100%;
}
.mobile-menu-items{
display: flex;
flex-direction: column;
align-items:flex-start;
gap: 40px;
}
.mobile-menu-item.mobile-menu-studio{
color: #404bbf;
}
.mobile-menu-item{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
}
.mobile-menu-list{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
}
.mobile-address-list-p.mobile-menu-number{
color: #4d5ae5;
}
.mobile-address-list-p{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}
.mobile-menu-media{
margin-top: 48px;
display: flex;
flex-direction: row;
gap: 40px;
padding-bottom: 40px;
width: 100%;

}
.menu-media-item-link{
width: 100%;
height: 100%;
background-color: var(--main-background-color);
border-radius: 50%;
display: flex;
align-items: center;
padding: 6px;
}
.mobile-menu-address{
display: block;
width: 100%;
}

/* top */
.top{
background: rgba(46, 47, 66, 0.7);
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg); 
max-width: 375px;
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
margin-left: auto;
margin-right: auto;
padding: 72px 0;
}
.topic{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin: 0 52px;
}
.button{
background-color: #4d5ae5;
font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 16px;
padding: 16px 32px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
background-color: #4d5ae5;
border-radius: 4px;
margin: auto;
margin-top: 48px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
.top {
padding: 112px 0;
max-width: 768px;
}
.topic{
font-size: 56px;
line-height: 1.1;
letter-spacing: 0.02em;
margin: 0 136px;
width: 496px;
}
.button{
margin-top: 36px;
}
}
@media only screen and (min-width: 1440px) {
.top {
padding: 188px 0 292px 0;
max-width: 1440px;
}
.topic{
font-size: 56px;
line-height: 1.1;
letter-spacing: 0.02em;
margin: 0 472px;
}
.button{
margin-top: 48px;
}
}
.center-list{
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap: 72px;
margin: 92px 0;
}
.center-list-item-div{
display: none;
}
.benefits-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.benefits-p{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
@media only screen and (min-width: 768px) {
.center-list {
gap: 24px;
margin: 96px 0 269px;
}
.benefits-title{
text-align: justify;
}
.center-list-item{
width: calc((100% - 66px) / 2);
}
}
@media only screen and (min-width: 1440px) {
.center{
padding: 120px 0;
}
.center-list-item-div{
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: #F4F4FD;
border-radius: 4px;
border: 1px solid #8e8f99;
margin-bottom: 8px;
}
.center-list-item{
width: calc((100% - 72px) / 4);
}
.benefits-title{
font-size: 20px;
line-height: 1.2;
text-align: justify;
}
.benefits-p{
font-weight: 400;
}
}